.mobile-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: var(--mobile-nav-height);
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    padding-bottom: env(safe-area-inset-bottom);
    z-index: 1000;
    padding-left: 0;
    padding-right: 0;
}

.nav-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    background: none;
    color: var(--secondary-color);
    text-decoration: none;
    cursor: pointer;
    padding: 0;

    &.active-link {
        color: var(--accent-color);
    }

    .nav-label {
        font-size: 10px;
        margin-top: 4px;
        font-weight: 500;
    }
}