.app-footer {
    padding: 16px;
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.54);
    background-color: var(--background-color);
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}