<mat-nav-list>
    <a mat-list-item routerLink="/otros/pagina1" (click)="close()">
        <lucide-icon [img]="FileTextIcon" matListItemIcon></lucide-icon>
        <span matListItemTitle>Página 1</span>
    </a>
    <a mat-list-item routerLink="/otros/pagina2" (click)="close()">
        <lucide-icon [img]="DatabaseIcon" matListItemIcon></lucide-icon>
        <span matListItemTitle>Página 2</span>
    </a>
    <a mat-list-item routerLink="/otros/pagina3" (click)="close()">
        <lucide-icon [img]="SettingsIcon" matListItemIcon></lucide-icon>
        <span matListItemTitle>Página 3</span>
    </a>
</mat-nav-list>